<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faturamento</title>
</head>
<body>
   <h1>Papelaria Seu Afonso</h1>

   {% for produto in produtos%}
        <h2>{{produto.nome}}</h2>
        <h3>{{produto.preco}}</h3>
        <p>{{produto.marca}}</p>
        <a href = {% url 'editar_produto' produto.id%}>Editar produto</a>
        <a href = {% url 'excluir_produto' produto.id%}>Excluir produto</a>
        <a href = {% url 'comprar_produto' produto.id%}>Comprar produto</a>
   {% endfor %}
   <p><a href = {%url 'cadastrar_produto'%}>Cadastrar produto</a></p>
   <p><a href = {%url 'faturamento'%}>Ver faturamento</a></p>
</body>
</html>
